@import url('../css/fonts.css');

.Stack_Cards .card {
    background: rgba(215, 245, 157, 1);
    border: 1.5px solid rgba(137, 137, 137, 1);
    border-radius: 12px;
    margin-bottom: 0;
    height: 100%;
}

.Stack_Cards .card .card-header {
    padding-bottom: 0;
}

.Stack_Cards .card .card-header .Headings h4 {
    color: rgba(42, 42, 42, 1);
    font-size: 14px;
}

.Stack_Cards .card .card-header .Headings p,
.Stack_Cards .card .card-header .Total_Contracts p {
    color: rgba(112, 0, 255, 1);
    font-size: 10px;
    margin-bottom: 0;
}

.Stack_Cards .card .card-header .Total_Contracts h2 {
    color: rgba(42, 42, 42, 1);
    font-size: 16px;
}

.Stack_Cards .card .apexcharts-canvas .apexcharts-text {
    fill: rgba(42, 42, 42, 1) !important;
    font-size: 36px;
    font-family: 'Clash_Display_Bold' !important;
}

#basic-table .card {
    background: rgba(251, 255, 206, 0.77);
    padding: 0 16px;
}

/* Step Form */
.Step_First {
    position: relative;
    background: rgba(215, 245, 157, 0.77);
    border: 1.5px solid rgba(137, 137, 137, 1);
    border-radius: 20px;
    padding: 3rem 3rem 10rem;
}

.Step_First .InnerText h3 {
    font-family: 'Raleway_Bold';
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}

.Step_First .InnerText h3.Txt_blue {
    color: rgba(54, 144, 209, 1);
    font-size: 30px;
}

.Step_First .InnerText p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

.NextBtns_botsWrap {
    position: absolute;
    bottom: 20px;
    right: 0px;
    left: 0px;
}

.NextBtns_bots {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NextBtns_bots .DotsLeft {
    display: flex;
    gap: 6px;
}

.NextBtns_bots .DotsLeft span {
    width: 8px;
    height: 8px;
    display: block;
    background: rgba(136, 136, 136, 1);
    box-shadow: 0px 0px 1.3750921487808228px 0px rgba(143, 143, 143, 0.5);
    border-radius: 50%;
}

.NextBtns_bots .DotsLeft span.active {
    background: rgba(52, 52, 52, 1);
}

.NextBtns_bots .InnerBtns {}

.NextBtns_bots .InnerBtns .backBtn {
    border: 1px solid rgba(130, 130, 130, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
    letter-spacing: 1px;
    margin-right: 12px;
    font-family: 'Raleway_Light';
}

.NextBtns_bots .InnerBtns .startedBtn,
.UploadBtnForm{
    background: rgba(66, 164, 255, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 12px 30px 12px 30px;
    border-radius: 6px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'Raleway_Light';
    border: 1px solid rgba(66, 164, 255, 1);
}
.UploadBtnForm{
    border-radius: 30px;
}
.FormStepLine .FormStep {
    position: relative;
}

.FormStepLine .FormStep::before {
    content: '';
    position: absolute;
    left: calc(100% - 50%);
    background-color: rgba(180, 180, 180, 1);
    width: 0.5px;
    height: 90%;
    bottom: 0;
}

.FormStep .form-label {
    font-family: 'Raleway_Bold';
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000 !important;
}

.FormStep h2 {
    font-family: 'Raleway_Bold';
    color: #000;
    font-size: 33px;
}

.FormStep h4.card-title {
    font-family: 'Raleway_Bold';
    font-size: 22px;
    color: #000;
}

p.Step_Count {
    font-family: 'Raleway_Light';
    font-size: 18px;
    color: rgba(78, 78, 78, 1);
}

/* Recieved payment */
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ralewayfont';
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ralewayfontbold';
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ralewayfont2';
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

.Sendertabs {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 100px;
    flex-wrap: wrap;
}

.Sendertabs label {
    font-size: 18px;
    font-family: 'Gilroy';
    background: rgba(215, 245, 157, 0.77);
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 338px;
    height: 206px;
    align-items: center;
    color: #3E3E3E;
    text-transform: uppercase;
    box-shadow: 0px 0px 33.65127944946289px 3.365128517150879px #3333331F;
}

.Sendertabs input[type="radio"] {
    display: none;
}

.Sendertabs.active {
    transform: scale(1.13);
}

.tabs_section .InnerBtns .backBtn {
    background: transparent;
    font-weight: 600;
}

.tabs_section .InnerBtns .startedBtn {
    font-weight: 600;
}

/* .tabs_section .NextBtns_bots {
    margin-top: 200px;
} */

.tabs_section .hidetest {
    display: none;

}

.other_page .Purchase_form label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
}

.other_page .Purchase_form input.account_nmbr {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;

}

.other_page .Purchase_form input::placeholder {
    font-family: 'Ralewayfont';
    font-size: 15px;
    opacity: 60%;

}

.other_page .Purchase_form textarea {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    Height: 120px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
    resize: none;

}

.other_page .Purchase_form textarea::placeholder {
    font-family: 'Ralewayfont';
    font-size: 15px;
    opacity: 60%;

}

.other_page .schedule_dates input {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    Height: 42px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
    padding-left: 36px;
}

.other_page .schedule_dates .d-flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.other_page .schedule_dates input::placeholder {
    font-family: 'Ralewayfont';
    font-size: 15px;
    opacity: 60%;
}

.other_page .schedule_dates .select_dateinput {
    position: relative;
}

.other_page .schedule_dates .select_dateinput img {
    position: absolute;
    top: 10px;
    left: 10px;
}

.other_page .schedule_dates .select_dateinput2 {
    position: relative;
}

.other_page .schedule_dates .select_dateinput2 img {
    position: absolute;
    top: 15px;
    left: 19px;
}

.other_page .schedule_dates .select_dateinput2 input {
    padding-left: 35px;
    width: 100%;
}

.other_page .form_submit input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.other_page .form_submit input::placeholder {
    font-family: 'Ralewayfont';
    font-size: 15px;
    opacity: 60%;
}

.other_page .form_submit label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
}

.other_page .form_submit .paymewnt_iccue button {
    font-family: 'Ralewayfont';
    font-size: 15px;
    padding: 7px 13px 7px 13px;
    border-radius: 18px;
    background: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;

}

.other_page .form_submit .paymewnt_iccue {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;

}

.other_page .form_submit .paymewnt_iccue button img {
    margin-right: 10px;

}

.other_page .form_submit .paymewnt_iccue button span {
    opacity: 60%;
}

.other_page .form_submit .upload button {
    padding: 11px 45px 11px 46px;
    border-radius: 26px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
    background: #58C7FF;
    border: 1px solid #E1E1E1;
    font-family: 'Ralewayfont';
    font-size: 16px;
    color: #FFFFFF;
}

.purchase .InnerBtns .backBtn {
    background: transparent;
    font-weight: 600;
}

.purchase .InnerBtns .startedBtn {
    font-weight: 600;
}

.step_formsrecieved .stepwizard-step p {
    margin-top: 10px;
}

.step_formsrecieved .wizard .nav-tabs,
.DotsLeft .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.step_formsrecieved .wizard>div.wizard-inner {
    position: relative;
    margin-bottom: 50px;
    margin-left: 18px;
    /* text-align: center; */
}

/* .step_formsrecieved .connecting-line {
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
} */

.step_formsrecieved .wizard .nav-tabs>li.active>a,
.step_formsrecieved .wizard .nav-tabs>li.active>a:hover,
.step_formsrecieved .wizard .nav-tabs>li.active>a:focus,
.DotsLeft .nav-tabs>li.active>a,
.DotsLeft .nav-tabs>li.active>a:hover,
.DotsLeft .nav-tabs>li.active>a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.step_formsrecieved span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}

.DotsLeft span.round-tab {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}

.step_formsrecieved span.round-tab i {
    color: #555555;
}

.DotsLeft .nav-tabs {
    width: 70px;
}

.step_formsrecieved .wizard li.active span.round-tab,
.DotsLeft .nav-tabs li.active span.round-tab {
    background: #42A4FF;
    color: #fff;
    border-color: #42A4FF;
}

.step_formsrecieved .wizard li.active span.round-tab i {
    color: #5bc0de;
}

.step_formsrecieved .wizard .nav-tabs>li,
.DotsLeft .nav-tabs>li {
    width: 25%;
    position: relative;
}
.step_formsrecieved .wizard .nav-tabs>li::before {
    content: '';
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 14px;
    height: 1px;
}
.step_formsrecieved .wizard .nav-tabs>li:last-child::before{
    width: 0%;
}
.step_formsrecieved .wizard li:after {
    content: "";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}

.step_formsrecieved .wizard .nav-tabs>li a,
.DotsLeft .nav-tabs>li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.step_formsrecieved .wizard .nav-tabs>li a i {
    position: absolute;
    top: 45px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 17px;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

.step_formsrecieved .wizard .nav-tabs>li a:hover {
    background: transparent;
}

/* Recieved payment */
/* Sender payment */
.tabs_sectionsender .InnerText p {
    font-family: 'Raleway_Bold';
    font-size: 19px;
    color: #0056D8;
    text-transform: uppercase;
}

.tabs_sectionsender .step2 label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
    color: #000000;
}

.tabs_sectionsender .step2 .Refundable input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step2 .schedule_dates input {
    border: 1px solid #E1E1E1;
    padding: 12px 20px 12px 42px;
    border-radius: 10px;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step2 .Refundable input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

.tabs_sectionsender .step2 .Refundable .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step2 .Refundable .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step2 .Intermediary .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step2 .Intermediary .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step2 .datepickerfields input::placeholder {
    color: #000000;
    opacity: 60%;


}

.tabs_sectionsender .step2 .schedule_dates .select_dateinput {
    position: relative;
}

.tabs_sectionsender .step2 .schedule_dates .select_dateinput img {
    position: absolute;
    top: 14px;
    left: 13px;
}

.tabs_sectionsender .step2 .schedule_dates .datepickerfields {
    gap: 20px;
    flex-wrap: wrap;
}

.tabs_sectionsender .step2 .Intermediary input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step2 .Intermediary input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

/*  */
.tabs_sectionsender .step3 label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
    color: #000000;
}

.tabs_sectionsender .step3 .Refundable input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step3 .schedule_dates input {
    border: 1px solid #E1E1E1;
    padding: 12px 20px 12px 42px;
    border-radius: 10px;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step3 .Refundable input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

.tabs_sectionsender .step3 .Refundable .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step3 .Refundable .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step3 .Intermediary .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step3 .Intermediary .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step3 .datepickerfields input::placeholder {
    color: #000000;
    opacity: 60%;


}

.tabs_sectionsender .step3 .schedule_dates .select_dateinput {
    position: relative;
}

.tabs_sectionsender .step3 .schedule_dates .select_dateinput img {
    position: absolute;
    top: 14px;
    left: 13px;
}

.tabs_sectionsender .step3 .schedule_dates .datepickerfields {
    gap: 20px;
    flex-wrap: wrap;
}

.tabs_sectionsender .step3 .Intermediary input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step3 .Intermediary input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

/*  */
/*  */
.tabs_sectionsender .step4 label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
    color: #000000;
}

.tabs_sectionsender .step4 .Refundable input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step4 .schedule_dates input {
    border: 1px solid #E1E1E1;
    padding: 12px 20px 12px 42px;
    border-radius: 10px;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step4 .Refundable input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

.tabs_sectionsender .step4 .Refundable .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step4 .Refundable .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step4 .Intermediary .select_dateinput2 img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.tabs_sectionsender .step4 .Intermediary .select_dateinput2 {
    position: relative;
}

.tabs_sectionsender .step4 .datepickerfields input::placeholder {
    color: #000000;
    opacity: 60%;


}

.tabs_sectionsender .step4 .schedule_dates .select_dateinput {
    position: relative;
}

.tabs_sectionsender .step4 .schedule_dates .select_dateinput img {
    position: absolute;
    top: 14px;
    left: 13px;
}

.tabs_sectionsender .step4 .schedule_dates .datepickerfields {
    gap: 20px;
    flex-wrap: wrap;
}

.tabs_sectionsender .step4 .Intermediary input {
    border: 1px solid #E1E1E1;
    padding: 12px 191px 12px 29px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.tabs_sectionsender .step4 .Intermediary input::placeholder {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;
}

.tabs_sectionsender .step4 .add_userbtn button {
    background: transparent;
    border: none;

}

.tabs_sectionsender .step4 .stepform_2 span {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;

}

.tabs_sectionsender .step4 .stepform_2 span {
    font-family: 'Ralewayfont2';
    font-size: 15px;
    color: #2D5BFF;

}

.tabs_sectionsender .step4 .stepform_2 .data {
    gap: 33%;
    flex-wrap: wrap;

}

/*  */
/* Sender payment */
/* contract Summary */
.contractsummary .MultiForm_Wrap label {
    display: block;
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 45px;
    color: #000000;
}

.contractsummary .MultiForm_Wrap .summary-wrap {
    float: right;
}

.contractsummary .MultiForm_Wrap .summary-wrap .date-wrap {
    width: fit-content;
    background: #fff;
    border: 0.9px solid #E1E1E1;
    box-shadow: 0px 0px 16.22px -4.5px #0000001A;
    border-radius: 10px;
    margin-bottom: 20px;

}

.contractsummary .MultiForm_Wrap .summary-wrap .date-wrap p {
    font-family: 'Ralewayfont';
    font-size: 15px;
    color: #00000099;
    opacity: 60%;
    padding: 13px 90px 12px 28px;
    margin: 0px;
}

.contractsummary .MultiForm_Wrap .head-wrap h2 {
    font-family: 'Ralewayfontbold';
    font-size: 22px;
    color: #101010;
    margin-top: -50px;
    text-transform: uppercase;
}

.contractsummary .MultiForm_Wrap .sender-wrap .sender-title p,
.contractsummary .MultiForm_Wrap .reciver-wrap .Reciever-title p {
    font-family: 'Ralewayfont';
    font-size: 20px;
    color: #578ED5;
    margin-top: -50px;
    text-transform: uppercase;
    font-style: italic;
}

.contractsummary .MultiForm_Wrap .sender-wrap input,
.contractsummary .MultiForm_Wrap .reciver-wrap input {
    border: 1px solid #E1E1E1;
    padding: 12px 68px 12px 29px;
    border-radius: 10px;
    outline: none;
    font-family: 'Ralewayfont2';
    font-size: 15px;
    box-shadow: 0px 0px 17.099458694458008px -4.749849796295166px #0000001A;
}

.contractsummary .MultiForm_Wrap .Agrement p {
    font-family: 'Ralewayfont';
    font-size: 20px;
    color: #578ED5;
    text-transform: uppercase;
    font-style: italic;
}

.step_formsrecieved .Next_btnswrap {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: -19px;
}

.contractsummary .Next_btnswrap {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: -19px;
}

.contract_table table {
    width: 100%;
}

.contractsummary .Pyment_terms p {
    font-family: 'Ralewayfont';
    font-size: 20px;
    color: #578ED5;
    text-transform: uppercase;
    font-style: italic;
}

.contractsummary .Pyment_terms span {
    font-family: 'Ralewayfontbold';
    font-size: 15px;
    color: #101010;
}

.contractsummary .Pyment_terms {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.payment_schedule {
    margin-bottom: 15%;
}

.payment_schedule table {
    width: 100%;
}

/* otp */
.otp-input-fields {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.otp-input-fields input {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 4px;
    border: 0.5px solid #00C2FF;
    text-align: center;
    outline: none;
    font-size: 10px;
}

.otp-input-fields input:focus {
    border-width: 2px;
    border-color: darken(#00C2FF, 5%);
}

.contractsummary .pin_code table {
    width: 100%;
}

.contractsummary .pin_code .sendotp_btn {
    padding: 10px;
    border-radius: 8px;
    background: #52B6FF;
    font-family: 'Ralewayfont';
    font-size: 12px;
    color: #FFFFFF;
    border: none;
    width: 75%;
}

.pin_code .code_transect {
    font-family: 'Ralewayfont';
    font-size: 20px;
    color: #578ED5;
    text-transform: uppercase;
    font-style: italic;
}

.contract_table .custom_wrap {
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.payment_schedule .custom_wrap {
    font-family: 'Ralewayfont';
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.contract_table .table_head span {
    display: block;
    font-family: 'Ralewayfontbold';
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 6px;
    border: 1px solid #000000B2;
    background: #FFFFFF;
    color: #000;
    padding: 10px 0px 10px 30px;
    border-width: 0.44px;
    width: 100%;
    transform: scale(1.04);
}

.payment_schedule .table_head span {
    display: block;
    font-family: 'Ralewayfontbold';
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 6px 0px 0px 6px;
    border: 1px solid #000000B2;
    border-right: none;
    background: #FFFFFF;
    color: #000;
    padding: 10px 0px 10px 30px;
    border-width: 0.44px;
    width: 100%;
    transform: scale(1.04);
}

.contract_table .tablebr_data {
    text-align: center;
    font-family: 'Ralewayfont2';
    color: #000000;
    font-size: 15px;
    border: 0.88px solid #FFFFFF;
    padding: 10px 0px 10px 0px;

}

.pin_code .tablebr_data {
    text-align: center;
    font-family: 'Ralewayfont2';
    color: #000000;
    font-size: 15px;
    border: 0.88px solid #FFFFFF;
    padding: 10px 0px 10px 0px;

}

.payment_schedule .tablebr_data {
    text-align: center;
    font-family: 'Ralewayfont2';
    color: #000000;
    font-size: 15px;
    border: 0.88px solid #FFFFFF;
    padding: 10px 0px 10px 0px;

}

.payment_schedule .bdr {
    border-top: none;
    border-bottom: none;

}

.payment_schedule .bdr2 {
    border-top: none;

}

.payment_schedule .bdr3 {
    border-right: none;

}

.payment_schedule .bdrleft {
    border-left: none;

}

.contract_table .special,
.payment_schedule .special {
    text-align: center;
    font-family: 'Ralewayfontbold';
    color: #000000;
    font-size: 15px;
    padding: 10px 0px 10px 0px;

}

.payment_schedule .table_head2 span {
    display: block;
    font-family: 'Ralewayfontbold';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid #000000B2;
    border-left: none;
    background: #FFFFFF;
    color: #000;
    padding: 10px 0px 10px 30px;
    border-width: 0.44px;
    width: 100%;
    transform: scale(1.04);
    text-align: center;
    transform-origin: left center;
}

@media (max-width: 992px) {

    .contractsummary .contract_table,
    .contractsummary .payment_schedule,
    .contractsummary .pin_code {
        overflow: auto;
    }
}

.contractsummary .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30%;

}

/* otp */
/* contract Summary */
/* transection Contract */
.transection_dashboard .Step_First {
    background: #FBFFCEC4;
    border: 1.44px solid #898989
}

.transection_dashboard .Step_First .range button,
.transection_dashboard .Step_First .status button {
    background: #FFFFFF;
    border-radius: 10px;
}

.transection_dashboard .Step_First .range .dropdown-toggle::after,
.transection_dashboard .Step_First .status .dropdown-toggle::after {
    background-image: url("../images/recieved/statusdropdown.png");
    background-size: contain;
    height: 15px;
    width: 15px;

}

.transection_dashboard .Step_First .filters button {
    background-color: #0C99FF !important;
    box-shadow: 0px 0px 10.35px 0px #00000014;
    border: none !important;
    border-radius: 10px;
}

.transection_dashboard .Step_First .filters button:hover {
    box-shadow: 0 8px 25px -8px #0C99FF !important;

}

.transection_dashboard .transdetail_chart table {
    width: 100%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.transection_dashboard .transdetail_chart table thead th {
    padding: 20px;
    text-align: center;
}

.transection_dashboard .transdetail_chart table td {
    padding: 20px;
}

.transection_dashboard .transdetail_chart table thead tr {
    border-radius: 50px;
    background: #9F9F9F33;
}

.transection_dashboard .transdetail_chart table tbody tr {
    background: #9F9F9F33;
    border: 1px solid #ACACAC;
    text-align: center;
}

.transection_dashboard .transdetail_chart table button {
    background: transparent;
    border: none;
}

.transection_dashboard .transdetail_chart table .dropdown-toggle::after {
    background-image: none;
}

.transection_dashboard .transdetail_chart table img {
    width: 20px;
}

.transection_dashboard .transdetail_chart table .paid {
    color: #00FF0A;
}

.transection_dashboard .transdetail_chart table .cancell {
    color: #FF0000;
}

@font-face {
    font-family: 'clash displaybold';
    src: url('../fonts/ClashDisplay_Complete/ClashDisplay-Bold.eot') format('truetype');
}

@font-face {
    font-family: 'clash displayregular';
    src: url('../fonts/ClashDisplay_Complete/ClashDisplay-Light.eot') format('truetype');
}

@font-face {
    font-family: 'clash displaymedium';
    src: url('../fonts/ClashDisplay_Complete/ClashDisplay-Medium.eot') format('truetype');
}

@font-face {
    font-family: 'clash displayextrabold';
    src: url('../fonts/ClashDisplay_Complete/ClashDisplay-Bold.ttf') format('truetype');
}

.transection_dashboard .transdetail_chart table thead th {
    font-family: 'clash displaybold';
    line-height: 16px;
    color: #2B2B36;
}

.transection_dashboard .transdetail_chart table tbody td {
    font-weight: 600;
    font-family: 'clash displaybold';
    font-size: 16px;
    color: #2B2B36;

}

.transection_dashboard .transdetail_chart {
    overflow: auto;

}

.transection_dashboard .Step_First .range,
.transection_dashboard .Step_First .status {
    font-family: 'clash displaybold';
    font-size: 12px;
    color: #161616;
}

.transection_dashboard .Step_First .range .dropdown-menu a,
.transection_dashboard .Step_First .status .dropdown-menu a {
    font-family: "Alexandria", sans-serif;
    font-size: 12px;
    line-height: 8px;
    border-radius: 10px;
}

.transection_dashboard .Step_First .filters button {
    font-family: 'Raleway_Bold';
    font-size: 12px;
    color: #FFFFFF;
}

.transection_dashboard .transdetail_chart table tbody .drop_set::before {
    content: "";
    position: absolute;
    right: 33px;
    top: -25px;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url("../images/recieved/Vector.png");
}

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.transection_dashboard .transdetail_chart table tbody .drop_set {
    right: 14px;
    top: 56px;
    border-radius: 10px;
}

.transection_dashboard .transdetail_chart table tbody .drop_set a {
    font-family: "Alexandria", sans-serif;
    font-size: 12px;
    line-height: 8px;
}


/* transection Contract */
/* Earning page */
.transection_dashboard .Step_First .Balance {
    font-family: 'clash displaybold';
    font-size: 16px;
    color: #4176FF;
}

.transection_dashboard .Step_First .Balance span {
    font-family: 'clash displayextrabold';
    font-size: 16px;
    color: #4176FF;
}

.transection_dashboard .Earning_chart table {
    width: 100%;
    border-collapse: separate;
    margin-top: 30px;
    border-spacing: 0 20px;
}

.transection_dashboard .Earning_chart {
    overflow: auto;
}

.transection_dashboard .Earning_chart table thead tr th {
    font-family: 'Ralewayfont2';
    color: #3D3D3D;
    font-size: 16px;
}

.transection_dashboard .Earning_chart table tbody td {
    font-family: 'clash displayregular';
    color: #1B1B1B;
    font-size: 16px;
}

.transection_dashboard .Earning_chart table tbody .price {
    font-family: 'clash displayextrabold';
    color: #44553B;
    font-size: 16px;
}

.transection_dashboard .Earning_chart table tbody #btn {
    cursor: pointer;
    color: #414141;
    margin-top: 50px;

}

.transection_dashboard .Earning_chart table tbody .claering_status button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    background: linear-gradient(to right, #00CB39 50%, #D6D6D6 50%);

}

.transection_dashboard .earningcards .Earnedcard {
    background: #F4F2A6;
    box-shadow: 0px 0px 11.52px 0px #0000001A;
    border-radius: 20px;
    padding: 3rem 3rem 2rem;
}

.transection_dashboard .earningcards .Earnedcard .head span {
    font-family: 'Ralewayfont2';
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: #44553B;
    display: block;
    margin: 10px 0px 10px 0px;
}

.transection_dashboard .earningcards .Earnedcard .amount span {
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    color: #2E2E2E;
    display: block;
}

/* Earning page */
/* Transparent page */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.transection_dashboard .visitorcards .visited {
    background: #F4F2A6;
    box-shadow: 0px 0px 11.52px 0px #0000001A;
    border-radius: 20px;
    padding: 3rem 2rem 2rem;
    border: 1px solid #898989;
    height: 100%;
}

.transection_dashboard .visitorcards .visited .price span {
    font-family: "Red Hat Display", sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 30.48px;
    letter-spacing: 0.01em;
    color: #2B2D38;

}

.transection_dashboard .visitorcards .visited .price2 .sp1 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #2B2D38;

}

.transection_dashboard .visitorcards .visited .price2 .sp2 {
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: #2B2D38;

}

.transection_dashboard .visitorcards .visited .Total_visit span {
    font-family: 'Ralewayfont2';
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: #797979;
    display: block;
    margin: 10px 0px 10px 0px;

}

.transection_dashboard .visitorcards .visited .monthlyresults {
    align-items: center;
}

.transection_dashboard .visitorcards .visited .monthlyresults img {
    width: 20px;
}

.transection_dashboard .visitorcards .visited .monthlyresults p {
    font-family: 'Ralewayfont2';
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: #060606;
    display: block;
    margin: 10px 0px 10px 0px;

}

.transection_dashboard .Step_First .transdetail_chart h1 {
    color: #2A2A2A;
    font-family: 'clash displayextrabold';
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;

}

.transection_dashboard .Step_First .progress .bg-success {
    background-color: #80DF53 !important;
}

.transection_dashboard .Step_First .progress {
    background-color: #2B2B36 !important;
    height: 5px;
    margin-top: 14px;
}

.transection_dashboard .Step_First .prgress_value span {
    color: #2B2B36;
    font-family: 'clash displayregular';
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.02em;
}


/* Transparent page */
/* Profile page */
.Profile_section .Profile h1 {
    text-transform: uppercase;
    font-family: 'clash displayextrabold';
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;

}

.Profile_section .Step_First {
    background: #FBFFCEC4;
    border: 1.44px solid #898989
}

.Profile_section .NextBtns_bots {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.Profile_section .Step_First .profile_pic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Profile_section .Step_First .profile_pic .user {
    position: relative;
    border-radius: 50%;
    border: 4.25px solid #26B8934D
}

.Profile_section .Step_First .profile_pic .user .profilechange_icon {
    position: absolute;
    right: 0px;
    bottom: 2px;
    cursor: pointer;
}

.Profile_section .Step_First .profile_pic .face_verify,
.Profile_section .Step_First .profile_pic .id_verify {
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background: #58E1FF;
    border: none;
    font-family: 'clash displaybold';
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

.Profile_section .user_detail label {
    display: block;
    color: #083A50;
    font-family: 'clash displayregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin:5px 0px 5px 0px;
}

.Profile_section .user_detail .credencials input {
    border: 1px solid #26B893;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.Profile_section .user_detail .name_wrap input {
    border: 1px solid #26B893;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

.Profile_section .user_detail input::placeholder {
    color: #083A50;
    font-family: 'clash displayregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.Profile_section .user_detail input {
    color: #083A50;
    font-family: 'clash displayregular';
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    outline: none;
}

.Profile_section .user_detail select {
    border: 1px solid #26B893;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    color: #083A50;
    font-family: 'clash displayregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.Profile_section .user_detail select option {
    color: #083A50;
    font-family: 'clash displayregular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.Profile_section .user_detail .inner_wrap {
    position: relative;
}

.Profile_section .user_detail .inner_wrap img {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.Profile_section .tabs_sectionsender .modal .modal-content {
    box-shadow: 0px 0px 50px 0px #0000001A;
    background: #DDE07C;

}

.Profile_section .tabs_sectionsender .modal .modal-footer {
    border: none;

}

.Profile_section .tabs_sectionsender .modal .face_verification p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;

}
.Profile_section .tabs_sectionsender .modal  .facedetect{
   margin:50px 0px 50px 0px;

}
.Profile_section .tabs_sectionsender .modal  .modal-body{
  padding: 30px;

}

/* Profile page */
/* Payments */
.payments_gateway .Step_First{
    background: #FBFFCEC4;

}  
.payments_gateway .step_formsrecieved .Next_btnswrap {
    bottom: -26px;
}
.payments_gateway .Sendertabs label {
    text-align: center;
}
.payments_gateway .tabs_sectionsender .card_detail .card_type input[type=radio]{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    background: #D9D9D9;
}
.payments_gateway .tabs_sectionsender .card_detail .card_type input[type=radio]:checked {
    background: #1F93FF; 
}
.payments_gateway .tabs_sectionsender .credentials{
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    box-shadow: 0px 0px 10px 2px #3333330D;
    margin-top: 30px;
    border-radius: 10px;
   
}
.payments_gateway .tabs_sectionsender form{
    width: 50%;
    margin: auto;
   
}
.payments_gateway .tabs_sectionsender .credentials hr{ 
    color: #BCBCBC;
    margin: 0px;
}
.payments_gateway .tabs_sectionsender .credit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.payments_gateway .tabs_sectionsender .Gpay{
    display: flex;
    align-items: center;
    gap: 62%;
    padding: 20px;
}
.payments_gateway .tabs_sectionsender .credit img,.payments_gateway .tabs_sectionsender .Gpay img{
  cursor: pointer;
}
.payments_gateway .tabs_sectionsender .credit .card_type,.payments_gateway .tabs_sectionsender .Gpay .card_type {
  display: flex;
  align-items: center;
}
/* Payments */